<section>
    <template id="basic-modal-template">
        <section class="weber-modal-wrapper">
            <div class="weber-modal-mask"></div>
            <section class="weber-modal">
                <section class="weber-modal-content">
                    <div class="modal-closer">Fermer</div>
                    <section class="modal-title">
                        <section class="content"></section>
                    </section>
                    <section class="modal-body">
                        <section class="content">Voici le contenu de la modal</section>
                    </section>
                    <section class="modal-footer">
                        <section class="content"></section>
                    </section>
                </section>
            </section>
        </section>
    </template>

    <template id="boolean-modal-template">
        <section class="weber-modal-wrapper">
            <div class="weber-modal-mask"></div>
            <section class="weber-modal">
                <section class="weber-modal-content">
                    <div class="modal-closer">Fermer</div>
                    <section class="modal-title">
                        <section class="content"></section>
                    </section>
                    <section class="modal-body">
                        <section class="content"></section>
                    </section>
                    <section class="modal-footer">
                        <section class="content"></section>
                        <section>
                            <button class="btn-choice choice-no" data-choice="0">Non</button>
                            <button class="btn-choice choice-yes" data-choice="1">Oui</button>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </template>


</section>