body.weber-modal-on {
    overflow-y: hidden;
}

.weber-modal-wrapper {
    display: flex;
}

.weber-modal-wrapper .weber-modal-mask {
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.75);
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
}

.weber-modal-wrapper .weber-modal {
    padding: 7px;
    background: whitesmoke;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    display: flex;
    min-width: 10vw;
    max-width: 80vw;
    min-height: 1em;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 1px 1px 0px #a59d9d70;

}

.weber-modal-wrapper .weber-modal .weber-modal-content .modal-closer {
    position: absolute; right: 7px; top: 7px; cursor: pointer;
}

.weber-modal-wrapper .weber-modal .weber-modal-content .modal-title {
    padding-top: 1.2em;

}
.weber-modal-wrapper .weber-modal .weber-modal-content .modal-body {

}
.weber-modal-wrapper .weber-modal .weber-modal-content .modal-footer {

}