<section>
    <template id="hud-wallet-template">
        <section>
            <p>Montant inséré : <span class="wallet-amount">0</span>€</p>
            <section>
                <button type="button" class="btn-wallet-update" data-amount="0.1">Insérer 10 ct</button>
                <button type="button" class="btn-wallet-update" data-amount="1">Insérer 1€ </button>
            </section>
        </section>
    </template>
</section>